<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Stylesheet>
  <Name>ie7</Name>
  <FileName>ie7.css</FileName>
  <Content><![CDATA[/*
	TXT 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
]]></Content>
  <Properties />
  <Hash>08106256f1027ff20ac5f8d7569c8a2b</Hash>
</Stylesheet>