<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ContentDocumentType ANY>
<!ATTLIST ContentDocumentType id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT MenuDocumentType ANY>
<!ATTLIST MenuDocumentType id ID #REQUIRED>
<!ELEMENT MenuItemDocumentType ANY>
<!ATTLIST MenuItemDocumentType id ID #REQUIRED>
<!ELEMENT MenuContainerDocumentType ANY>
<!ATTLIST MenuContainerDocumentType id ID #REQUIRED>
<!ELEMENT SubMenuItemDocumentType ANY>
<!ATTLIST SubMenuItemDocumentType id ID #REQUIRED>

]>
<root id="-1">
  <MenuContainerDocumentType id="1073" key="5ced310b-8f48-46a0-a479-f6644e79d4bd" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-12-14T20:13:26" updateDate="2015-12-14T20:13:26" nodeName="Menu Container" urlName="menu-container" path="-1,1073" isDoc="" nodeType="1072" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuContainerDocumentType">
    <MenuDocumentType id="1075" key="fd8b7288-96af-44d4-9f20-920d9fc95267" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2015-12-14T20:22:03" updateDate="2015-12-14T20:22:03" nodeName="Mega Menu" urlName="mega-menu" path="-1,1073,1075" isDoc="" nodeType="1074" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuDocumentType">
      <menuName><![CDATA[Mega Menu]]></menuName>
      <MenuItemDocumentType id="1078" key="8241342d-b2f8-4ecb-a7b6-525b2a4cfa0b" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2015-12-14T21:21:14" updateDate="2015-12-14T21:21:14" nodeName="Collections" urlName="collections" path="-1,1073,1075,1078" isDoc="" nodeType="1077" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuItemDocumentType">
        <menuTitle><![CDATA[Collections]]></menuTitle>
        <menuLink>1061</menuLink>
        <SubMenuItemDocumentType id="1090" key="f7044b6c-5e96-4a12-9050-227bc2bf9984" parentID="1078" level="4" creatorID="0" sortOrder="0" createDate="2015-12-20T16:17:17" updateDate="2015-12-20T16:17:17" nodeName="Summer 2011" urlName="summer-2011" path="-1,1073,1075,1078,1090" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourTitle><![CDATA[Runaway Show]]></menuFourTitle>
          <menuFiveTitle><![CDATA[Overview]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Milano]]></menuOneTitle>
          <menuTitle><![CDATA[Summer 2011]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Special Events]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Paris]]></menuTwoTitle>
        </SubMenuItemDocumentType>
        <SubMenuItemDocumentType id="1091" key="7dbabbd9-2420-4548-8767-f0d9598e72cb" parentID="1078" level="4" creatorID="0" sortOrder="1" createDate="2015-12-20T16:25:01" updateDate="2015-12-20T16:25:01" nodeName="Winter 2010" urlName="winter-2010" path="-1,1073,1075,1078,1091" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourLink>1088</menuFourLink>
          <menuFourTitle><![CDATA[Interview]]></menuFourTitle>
          <menuFiveTitle><![CDATA[Photos]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Milano]]></menuOneTitle>
          <menuTitle><![CDATA[Winter 2010]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Behind The Scenes]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[New York]]></menuTwoTitle>
        </SubMenuItemDocumentType>
        <SubMenuItemDocumentType id="1092" key="c116b8ef-8c3d-4e18-a6a9-d89be33eb3e9" parentID="1078" level="4" creatorID="0" sortOrder="2" createDate="2015-12-20T16:26:49" updateDate="2015-12-20T16:26:49" nodeName="Categories" urlName="categories" path="-1,1073,1075,1078,1092" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourLink>1088</menuFourLink>
          <menuFourTitle><![CDATA[Nature Pure]]></menuFourTitle>
          <menuFiveTitle><![CDATA[Swimming]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Casual]]></menuOneTitle>
          <menuTitle><![CDATA[Categories]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Underwear]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Business]]></menuTwoTitle>
        </SubMenuItemDocumentType>
      </MenuItemDocumentType>
      <MenuItemDocumentType id="1093" key="49fee683-2793-4049-ba93-4ce97e005665" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2015-12-20T16:27:52" updateDate="2015-12-20T16:27:57" nodeName="Projects" urlName="projects" path="-1,1073,1075,1093" isDoc="" nodeType="1077" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuItemDocumentType">
        <menuTitle><![CDATA[Projects]]></menuTitle>
        <menuLink>1088</menuLink>
        <SubMenuItemDocumentType id="1094" key="2e2e5ff6-ca90-4eba-82de-a7572272428c" parentID="1093" level="4" creatorID="0" sortOrder="0" createDate="2015-12-20T16:28:21" updateDate="2015-12-20T16:28:48" nodeName="Fashion Shows" urlName="fashion-shows" path="-1,1073,1075,1093,1094" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourTitle><![CDATA[Runaway Show]]></menuFourTitle>
          <menuFiveTitle><![CDATA[Overview]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Milano]]></menuOneTitle>
          <menuTitle><![CDATA[Fashion Shows]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Special Events]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Paris]]></menuTwoTitle>
        </SubMenuItemDocumentType>
        <SubMenuItemDocumentType id="1095" key="fb3e637b-2838-401f-9ddf-380c902405b3" parentID="1093" level="4" creatorID="0" sortOrder="1" createDate="2015-12-20T16:29:21" updateDate="2015-12-20T16:31:10" nodeName="Events" urlName="events" path="-1,1073,1075,1093,1095" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourLink>1088</menuFourLink>
          <menuFourTitle><![CDATA[Model Workshops]]></menuFourTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Fashion Party 2011]]></menuOneTitle>
          <menuTitle><![CDATA[Events]]></menuTitle>
          <menuThreeTitle><![CDATA[Fashion Day Milano]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Evening Specials]]></menuTwoTitle>
        </SubMenuItemDocumentType>
        <SubMenuItemDocumentType id="1096" key="afb94358-6578-45ae-94c8-16e4283e2d42" parentID="1093" level="4" creatorID="0" sortOrder="2" createDate="2015-12-20T16:33:12" updateDate="2015-12-20T16:33:12" nodeName="Media" urlName="media" path="-1,1073,1075,1093,1096" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourLink>1088</menuFourLink>
          <menuFourTitle><![CDATA[Content 2011]]></menuFourTitle>
          <menuFiveTitle><![CDATA[Fashion Mania]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Wallpapers]]></menuOneTitle>
          <menuTitle><![CDATA[Media]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Images]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Downloads]]></menuTwoTitle>
        </SubMenuItemDocumentType>
      </MenuItemDocumentType>
      <MenuItemDocumentType id="1097" key="111c9de2-f99b-4300-bd7c-85fb54606e91" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2015-12-20T16:33:48" updateDate="2015-12-20T16:33:48" nodeName="Fragrances" urlName="fragrances" path="-1,1073,1075,1097" isDoc="" nodeType="1077" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuItemDocumentType">
        <menuTitle><![CDATA[Fragrances]]></menuTitle>
        <menuLink>1088</menuLink>
      </MenuItemDocumentType>
      <MenuItemDocumentType id="1098" key="b6a01b81-8057-457c-8c5b-4930163ec515" parentID="1075" level="3" creatorID="0" sortOrder="3" createDate="2015-12-20T16:34:22" updateDate="2015-12-20T16:34:22" nodeName="Events" urlName="events" path="-1,1073,1075,1098" isDoc="" nodeType="1077" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuItemDocumentType">
        <menuTitle><![CDATA[Events]]></menuTitle>
        <menuLink>1088</menuLink>
        <SubMenuItemDocumentType id="1100" key="06a591cc-96dc-42bb-96d0-e3a9e839f162" parentID="1098" level="4" creatorID="0" sortOrder="0" createDate="2015-12-20T16:36:12" updateDate="2015-12-20T16:36:12" nodeName="Shows 2011" urlName="shows-2011" path="-1,1073,1075,1098,1100" isDoc="" nodeType="1076" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="SubMenuItemDocumentType">
          <menuFourLink>1088</menuFourLink>
          <menuFourTitle><![CDATA[New York]]></menuFourTitle>
          <menuFiveTitle><![CDATA[London]]></menuFiveTitle>
          <menuTwoLink>1088</menuTwoLink>
          <menuThreeLink>1088</menuThreeLink>
          <menuOneLink>1088</menuOneLink>
          <menuOneTitle><![CDATA[Milano]]></menuOneTitle>
          <menuTitle><![CDATA[Shows 2011]]></menuTitle>
          <menuFiveLink>1088</menuFiveLink>
          <menuThreeTitle><![CDATA[Berlin]]></menuThreeTitle>
          <menuTwoTitle><![CDATA[Paris]]></menuTwoTitle>
        </SubMenuItemDocumentType>
      </MenuItemDocumentType>
      <MenuItemDocumentType id="1099" key="14e41d7a-7e98-457c-a356-9d42e82334ba" parentID="1075" level="3" creatorID="0" sortOrder="4" createDate="2015-12-20T16:34:38" updateDate="2015-12-20T16:34:38" nodeName="Stores" urlName="stores" path="-1,1073,1075,1099" isDoc="" nodeType="1077" creatorName="Jon" writerName="Jon" writerID="0" template="0" nodeTypeAlias="MenuItemDocumentType">
        <menuTitle><![CDATA[Stores]]></menuTitle>
        <menuLink>1088</menuLink>
      </MenuItemDocumentType>
    </MenuDocumentType>
  </MenuContainerDocumentType>
  <homepage id="1088" key="7b72fef1-c48a-4a46-888e-2cd039ba5251" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-12-16T20:50:00" updateDate="2015-12-20T16:56:07" nodeName="Homepage" urlName="homepage" path="-1,1088" isDoc="" nodeType="1087" creatorName="Jon" writerName="Jon" writerID="0" template="1081" nodeTypeAlias="homepage">
    <pageTitle><![CDATA[Homepage]]></pageTitle>
    <content><![CDATA[<p>Homepage</p>]]></content>
    <menuLink>1075</menuLink>
    <websiteTitle><![CDATA[Duke Fashion<span>Overlay Effect Menu with jQuery</span>]]></websiteTitle>
    <websiteSubTitle><![CDATA[Welcome to the world of fashion]]></websiteSubTitle>
  </homepage>
</root>