<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>HomePage</Name>
  <Alias>umbHomePage</Alias>
  <Design><![CDATA[@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{   Html.RenderPartial("umbNewsOverviewWidget"); }
            </div>
        </div>
    </div>
</div>
<!-- /Main -->
]]></Design>
  <Master>umbLayout</Master>
  <Hash>a1bb1ee81380734fefe4f49fd0ac9b6e</Hash>
</Template>